html{
    box-sizing: border-box;
    background-color: #EDF2C5;
}

*,*:before,*:after {
    box-sizing: inherit
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1122px;
    height: 62px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 36px;
}

.header-title{
    width: 253px;
    height: 60px;
    font-family: "Noto Sans", sans-serif;
    color: #778A50;
    font-size: 44px;
    font-weight: 900;
    line-height: 100%; 
    letter-spacing: 0%;
}

.header-right{
    display: flex;
    align-items: center;
    width: 208px;
    height: 24px;
    font-size: 14px;
    font-weight: 700;
    line-height: 19.07px;
}

.fb{
    width: 24px;
    height: 24px;
}

.ig{
    width: 24px;
    height: 24px;
    margin-left: 12px;
}

.line{
   height: 24px;
   margin-left: 12px;
   border: 1px solid #778A50;
   margin-right: 0px;
}

.login{
    color:#778A50;
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
    margin-left: 12px;
    border: 1px solid #778A50;
    border-radius: 3px;
    padding: 4px 8px;
}

.join{
    color:#778A50;
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
    margin-left: 12px;
    border: 1px solid #778A50;
    border-radius: 3px;
    padding: 4px 8px;
}

.nav{
    width: 1120px;
    height: 44px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 0px;
    font-family: "Noto Sans", sans-serif;
}

.nav-list{
    display: flex;
    margin: 0;
    padding: 0;
    background-color: #778A50;
    border-radius: 3px;
    font-weight: 700;
}

.nav-list-item{
    list-style: none;
    margin-left: 15px;
}

.nav-list-link{
    display: block;
    text-decoration: none;
    color: #EDF2C5;
    padding: 10px 20px;
    font-weight: 900;
    font-size: 16px;
    line-height: 150%;
}

.body{
    width: 1120px;
    margin-left: auto;
    /*自動左邊距*/
    margin-right: auto;
    /*自動右邊距*/
    margin-top: 16px;
    margin-bottom: 117px;
}

.pumpink{
    width: 1120px;
    height: 448px;
    margin-left: auto;
    margin-right: auto;
}

.constant{
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.left,
.right {
    width: 528px;
}

.left-line{
    background-color: #778A50;
    height: 45px;
    display: flex;
    align-items: center;
    border-radius: 3px;
    margin-bottom: 16px;
}

.right-line{
    background-color: #778A50;
    height: 45px;
    display: flex;
    align-items: center;
    border-radius: 3px;
    margin-bottom: 16px;
}

.left-text{
    color: #EDF2C5;
    font-weight: 900;
    font-size: 16px;
    margin-left: 30px;
    line-height: 150%;
    font-family: "Noto Sans", sans-serif;
}

.right-text{
    color: #EDF2C5;
    font-weight: 900;
    font-size: 16px;
    margin-left: 30px;
    line-height: 150%;
    font-family: "Noto Sans", sans-serif;
}

.left-img{
    display: flex;
    justify-content: space-between;
}

.right-text2{
    background-color: #F7FBDA;
    color: #7D7D7D;
    height: 140px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    padding: 16px;
    font-family: "Noto Sans", sans-serif;
}

.right-text2 hr {
    border: none;
    border-top: 1px solid #7D7D7D;
}

.first-text{
    height: 54px;
    margin: 0px;
}

.second-text{
    margin: 0px;
}



.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #778A50;
    color: #EDF2C5;
    height: 60px;
    margin-top: auto;
    font-size: 12px;
    font-family: "Noto Sans", sans-serif;
}

body {
    margin: 0;
    padding: 0;
}


